@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Shrikhand&display=swap');

:root {
    --main-bg-color: #ffede8;
    --main-text-color: #fffdfc;
    --secound-text-color: #e9a28d;
    --details-color: #ffd3c6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

.header-page{
    background-color: var(--details-color);
}

.navegation {
    color: var(--main-text-color)
}

.main-content{
    display: flex;
    flex-direction: column;
    color: var(--main-text-color)
}

.main-content__img {
    border: 2px solid #000;
}

.main-content__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.main-content__links {
    display: flex;
    justify-content: space-between;
}

.main-content__links__button{
    background-color: var(--details-color);
    color: var(--main-text-color);
}

.footer-page {
    background-color: var(--details-color);
}
