/*Divertido*/
/*
body{
    background-color: rgb(247, 187, 205);
    color:rgb(81, 13, 23);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a{
    color:rgb(172, 0, 46);
}
footer{
    color: rgb(255, 110, 134);
}
*/

/*formal e elegante*/
/*
body{
    background-color: rgb(24, 16, 14);
    color:rgb(173, 160, 162);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a{
    color:rgb(249, 227, 233);
}
footer{
    color: rgb(240, 207, 195);
}
*/

/*minimalista*/
/*
body{
    background-color: rgb(0, 0, 0);
    color:rgb(242, 240, 240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a{
    color:rgb(255, 110, 134);
}
footer{
    color: rgb(255, 255, 255);
}
*/